/*----------------- Velti ------------------*/
/**{-webkit-user-select:none;}*/

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


body{
	padding:0;
	margin: 0;
	-webkit-text-size-adjust: none;
	color: #444;
	background: #fff;
	font: 12px normal 'Helvetica Neue', 'Helvetica', 'Arial';
}
	
table{font-size:11px;width:100%}

/* ----------- Start of Page Controller-Transitions ---------*/
.pageController {
	position: relative;
	width: 100%;
	overflow:hidden;
}

.pageController .page {
	position: absolute;
	top: 0;
	//z-index: -10;
	width: 100%;
	display: none;
	
}


.pageController .page.active {
	position: relative;
	//z-index: 0;
	display: block;
}




.slidein, .slideout, .sliderevin, .sliderevout
{
	-webkit-backface-visibility: none;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: .3s;
}
			
	@-webkit-KEYFRAMES slidein
	{
	from { left: 100%; }
	to   { left:0;-webkit-transition: left .5s ease-in;  }
	}
	@-webkit-KEYFRAMES slideout
	{
	from { left: 0; }
	to   { left: -100%; -webkit-transition: left .5s ease-in; }
	}
	
	@-webkit-KEYFRAMES sliderevin
	{
	
	from { left: -100%; }
	to   { left:0;-webkit-transition: left .5s ease-in;  }
	
	
	}
	
	@-webkit-KEYFRAMES sliderevout
	{
	
	from { left: 0; }
	to   { left: 100%;-webkit-transition: left .5s ease-in; }
	
	}
	.slidein     { -webkit-animation-name: slidein;     }
	.slideout    { -webkit-animation-name: slideout;    }
	.sliderevin  { -webkit-animation-name: sliderevin;  }
	.sliderevout { -webkit-animation-name: sliderevout; }

/* ----------- END of Page Controller-Transitions ---------*/




/*  ------Start divAlingment  -------*/
.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;

	display: -moz-box;
	-moz-box-orient: horizontal;

	display: box;
	box-orient: horizontal;
}

.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;

	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;

	display: box;
	box-orient: vertical;
	box-align: stretch;
}

.justified_box {
	/*-webkit-box-align: center;*/
	-webkit-box-pack: justify;

	/*-moz-box-align: center;*/
	-moz-box-pack: justify;

	/*box-align: center;*/
	box-pack: justify;
}

.center_box {
	-webkit-box-align: center;
	-webkit-box-pack: center;

	-moz-box-align: center;
	-moz-box-pack: center;

	box-align: center;
	box-pack: center;
}

.flex_child_1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.flex_child_2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}

.centerLoader {
    /* basic styling */
   
    font-size: 14px;
   
    /* flexbox, por favor */
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
   
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}
/* -------End divAlingment  -------*/





/*-------------------|Iscroll for products |---------------------*/
.product_wrapper
{
	position:relative; 
	z-index:1;
	height:145px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	overflow:auto;
}

#product_scroller 
{
	height:100%;
	float:left;
	padding:0;
}

#product_scroller ul 
{
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

#product_scroller li 
{
	display:block;
	vertical-align:middle;
	float:left;
	padding:0 0px;
	width:70px;
	height:100%;
	font-size:14px;
}


/*-------------------| Iscroll |---------------------*/
.wrapper{
	position:relative; 
	z-index:1;
	height:24;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	overflow:auto;
}

#scroller {
	float:left;
	padding:0;
}

#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	padding:0;
	margin:0;
}

#scroller li {
	display:block;
	vertical-align:middle;
	float:left;
	margin:0;
	padding:0;
	width:auto;
}

#scroller li div{
	margin:0;
	padding:0;	
}
/*-------------------| End of Iscroll |--------------*/



#products_page_img_cont{
	height:100px;
	background-color:red;
}




.spacer5
{
	height: 5px;
}
.spacer10
{
	height: 10px;
}
.spacer20
{
	height: 20px;
}
.clear
{
	clear: both;
}
.blueHeader
{
	color: #009ED3;
	font-size: 14px;
	font-weight: bold;
}
.roundButton
{
	display: inline-block;
	color: #009ED3;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#111));
	font-size: 11px;
	font-weight: bold;
	text-shadow: none;
	height: 22px;
	line-height: 22px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	-webkit-box-sizing: border-box;
	padding: 0 10px;
}
.roundButton:active
{
	background: #111;
}
.roundButton > div:first-child
{
	float: left;
}
.roundButton-arrow
{
	float: right;
	background: url('assets/arrow.PNG');
	-webkit-background-size: 100% 100%;
	width: 10px;
	height: 10px;
	margin: 6px 0 0 6px;
}



#pages_Controller > div
{
	-webkit-box-sizing: border-box;
	padding: 10px;
}
#pages_Controller > #home_page,
#pages_Controller > #innovating_page,
#pages_Controller > #videos_page
{
	padding: 0;
}



#menu_container
{
	width: 100%;
	background: #e5e5e5;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #bbb;
}
.l_menu_arrow, .l_menu_arrow_active
{
	width: 25px;
	background: url('assets/menu/arrows.png') no-repeat;
	-webkit-background-size: 200% auto;
	background-position: -2px -27px;
}
.l_menu_arrow_active
{
	background-position: -2px 1px;
}
.r_menu_arrow, .r_menu_arrow_active
{
	width: 25px;
	background: url('assets/menu/arrows.png') no-repeat;
	-webkit-background-size: 200% auto;
	background-position: -22px -27px;
}
.r_menu_arrow_active
{
	background-position: -22px 1px;
}



#home-cube
{
	width: 320px;
	height: 280px;
	-webkit-perspective: 400;
	-webkit-transform: scale(.58);
	margin: 49px auto 0 auto;
}
#home-cube-axis
{
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .5s ease-in-out;
}
#home-cube-axis > div
{
	position: absolute;
	-webkit-background-size: 100% auto;
	width: 320px;
	height: 320px;
	//border: 1px solid #ddd;
}
#home-cube-axis > div:nth-child(1)
{
	//background: url('assets/cube/0.jpg');
	-webkit-transform: translateZ(160px) translateY(-50px);
}
#home-cube-axis > div:nth-child(2)
{
	//background: url('assets/cube/1.jpg');
	-webkit-transform-origin: 0 50%;
	-webkit-transform: rotateY(90deg) translateX(-160px) translateZ(320px) translateY(-50px);
}
#home-cube-axis > div:nth-child(3)
{
	//background: url('assets/cube/2.jpg');
	-webkit-transform: rotateY(180deg) translateZ(160px) translateY(-50px);
}
#home-cube-axis > div:nth-child(4)
{
	//background: url('assets/cube/3.jpg');
	-webkit-transform-origin: 0 50%;
	-webkit-transform: rotateY(-90deg) translateX(-160px) translateY(-50px);
}
.home-cube-content
{
	color: #444;
	position: absolute;
	top: 10px;
	left: 10px;
}
.home-cube-button
{
	position: absolute;
	bottom: 15px;
	left: 64px;
	padding: 0 30px;
}



#products-notice
{
	color: #444;
	background: -webkit-Gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
	width: 100%;
	font-size: 11px;
	text-shadow: 0 1px 0 RGBA(255, 255, 255, .7);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px RGBA(0, 0, 0, .7);
	-webkit-box-sizing: border-box;
	padding: 7px;
}
.products-table
{
	width: 100%;
	font-size: 11px;
	font-weight: bold;
}
.products-table-header
{
	display: -webkit-box;
	color: #444;
}
.products-table-header > div
{
	-webkit-box-flex: 1;
	width: 33.3%;
	margin: 5px 0;
}
.products-table-row
{
	display: -webkit-box;
	color: #009ED3;
}
.products-table-row > div
{
	-webkit-box-flex: 1;
	width: 33.3%;
	margin: 5px 0;
}
.products-table-row > div > span:active
{
	background: #eee;
	-webkit-border-radius: 4px;
}



.footer-divider
{
	background: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0, #eee), color-stop(.5, #999), color-stop(1, #eee));
	width: 100%;
	height: 1px;
}
.footer
{
	text-align: center;
}
.footer-container2
{
	color: #555;
	display: inline-block;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
	font-size: 9px;
	font-weight: normal;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	height: 40px;
	line-height: 41px;
	-webkit-border-radius: 5px;
	border: 1px solid #E0E0E0;
	width: 265px;
}

.footer-container2 > div:nth-child(1)
{
	float: left;
	margin-left: 9px;
}
.footer-container2 > div:nth-child(2)
{
	float: right;
	margin: 5px 7px 0 0;
}
.footer-container2 > div:nth-child(2) > div
{
	float: left;
	width: 31px;
	height: 31px;
	margin: 0 3px;
}
.footer-container
{
	color: #555;
	display: inline-block;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
	font-size: 9px;
	font-weight: normal;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	height: 40px;
	line-height: 40px;
	-webkit-border-radius: 5px;
	border: 1px solid #E0E0E0;
	width: 265px;
}
.footer-container > div
{
	float: left;
	margin: 0 0 0 10px;
}

.footer-container > div:nth-child(2) > div
{
	float: left;
	width: 31px;
	height: 31px;
	margin: 4 3px;
}

.footer-container > img:nth-child(2),
.footer-container > img:nth-child(3)
{
	width: 31px;
	margin: 5px 5px 0 0;
}
.footer-container > img:nth-child(4)
{
	width: 31px;
	margin: 5px 0 0 0;
}
.footer-links-container
{
	text-align: center;
	font-size: 12px;
}
.footer-link
{
	color: #009ED3;
	text-decoration: underline;
}
.footer-copyright
{
	font-size: 10px;
}



#products-carousel-container
{
	position: relative;
}
#products-carousel-container > img
{
	width: 100%;
}
#products-carousel
{
	position: absolute;
	width: 58%;
	top: 10%;
	right: -3%;
}
#products_contentCarouzel > *
{
	width: 100%;
}



.accordeon
{
	background: #fff;
	position: relative;
	width: 100%;
}
.accordeon-caption
{
	color: #009ed3;
	background: url('assets/acc-normal.png');
	-webkit-background-size: 100% 100%;
	font-weight: bold;
	width: 100%;
	height: 32px;
	line-height: 32px;
	-webkit-box-sizing: border-box;
	padding: 0 10px;
}
.accordeon-content,
.accordeon-scratchpad
{
	color: #444;
	width: 100%;
	-webkit-box-sizing: border-box;
	padding: 0 10px;
	overflow: hidden;
}
.accordeon-content
{
	height: 0;
	-webkit-transition: height .3s ease-in-out;
}
.accordeon-scratchpad
{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.circleTriangle
{
	position: relative;
	background: #009ED3;
	width: 24px;
	height: 24px;
	-webkit-border-radius: 12px;
	margin-top: 2px;
}
.circleTriangle > div:first-child
{
	position: absolute;
	top: 6px;
	left: 10px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid white;
}



.carousel3d
{
	width: 300px;
	-webkit-transform-style: preserve-3d;
	margin: -10px auto 0 auto;
	overflow: hidden;
}
.carousel3d-scroller
{
	width: 700px;
	height: 160px;
	-webkit-perspective: 600;
	-webkit-transition: -webkit-transform .4s ease-in-out;
}
.carousel3d-scroller > img
{
	float: left;
	width: 100px;
	-webkit-transition: all .3s ease-in-out;
	margin-top: 50px;
}
.carousel3d-scroller > img:first-child
{
	margin-left: 100px;
	-webkit-transform: rotateY(50deg);
	opacity: .7;
}
.carousel3d-scroller > img:nth-child(2)
{
	-webkit-transform: scale(1.6);
}
.carousel3d-scroller > img:nth-child(3)
{
	-webkit-transform: rotateY(-50deg);
	opacity: .7;
}
.carousel3d-scroller > img:last-child
{
	margin-right: 100px;
}



.carousel2d
{
	position: relative;
	width: 300px;
	height: 160px;
	margin: 48px auto 0 auto;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0, 0, 0);
}
.carousel2d-scroller
{
	width: 3000px;
	-webkit-transition: -webkit-transform .3s ease-in-out;
}
.carousel2d-scroller > img
{
	position: absolute;
	width: 260px;
	margin: 5px 5px 12px 5px;
}
.carousel2d-scroller > img:nth-child(1)
{
	left: 15px;
}
.carousel2d-scroller > img:nth-child(2)
{
	left: 285px;
}
.carousel2d-scroller > img:nth-child(3)
{
	left: 555px;
}





/*------------NOTE THIS CODE BELOW SHOULD ALWAYS BE AT THE BOTTOM---------------------*/

@media ONLY screen
and (max-device-width :320px)
and (orientation : portrait)
{
		#products_page_img_cont{
		height:150px;
		background-color:blue;
	}
}



/*This is for Acer Iconia A100 7inc*/
@media ONLY screen
and (device-width : 480px)
and (device-height : 320px)
and (orientation : landscape) 
{

	#products_page_img_cont{
		height:250px;
		background-color:yellow;
	}			
}

@media ONLY screen
and (device-width : 320px)
and (device-height : 480px)
and (orientation : portrait) 
{
	#products_page_img_cont{
		height:150px;
		background-color:green;
	}
}

	