<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">ACER</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>		
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:45px; width:30%">
			<img style="width:100%;" src="assets/product_images/Acer/Acer1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">	
			<div style="padding-top:10px">
				<img style="width:50%" src="assets/product_images/Acer/Acer_logo.png"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:5px">
				Visually stunning, incredibly tough Corning&reg; Gorilla&reg; Glass enables today's sleekest smartphone, 
				tablet, and PC designs, while providing exceptional damage resistance to the drops, bumps and scrapes 
				of everyday use. Gorilla Glass is sensitive enough for today's most sophisticated touch applications, 
				and is available with an easy-to-clean coating.<br/><br/>
				Gorilla Glass is available on the Acer ICONIA family of products.
			</div>			
			<div class="hbox center_box" style="width:100%; height:40px; line-height:40px; color:#555; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd)); font-size:9px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); -webkit-border-radius: 5px; border: 1px solid #E0E0E0;  margin-top:10px">
				<div>FOLLOW ACER ON</div>				
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/Acer', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/acer', '_blank')"></div>
			</div>			
		</div>
	</div>
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">FEATURED</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/series/aspire-ethos','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Acer/Acer_Aspire_Ethos.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ASPIRE ETHOS</div>
		</div>		
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Acer/Acer_Iconia_TouchBook.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA TOUCHBOOK</div>
		</div>		
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia-tab-w500','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Acer/Acer_Iconia_Tab_W500.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA TAB W500</div>
		</div>		
		<div style="float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/series/aspire-ethos','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Acer/Acer_Iconia_Tab_A500.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA TAB A500</div>
		</div>		
		<div style="clear:both"></div>		
	</div>	
	<div style="margin-top:10px;">	
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia-tab-a100','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Acer/Acer_Iconia_Tab_A100.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA TAB A100</div>
		</div>		
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia-smart','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Acer/Acer_Iconia_smart.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA SMART</div>
		</div>						
		<div style="clear:both"></div>
	</div>			
	<div style="margin-top:15px; font-size:12px;">	
		<div style="color:#505050; font-weight:bold; margin-bottom:5px">RELATED NEWS</div>
		<div style="color:#505050;">January 9, 2012</div>
		<div onclick="window.open('http://www.corning.com/news_center/news_releases/2012/2012010902.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
			Corning and Acer Continue Collaboration with Corning&reg; Gorilla&reg; Glass 2
		</div>		
		<div style="color:#505050; font-weight:bold; margin-top:15px; margin-bottom:5px">CUSTOMER SERVICE INFO</div>
		<div style="color:#505050">Acer options, accessories and warranties:</div>
		<div onclick="window.open('http://store.acer.com/store/aceremea/global','_blank')" style="color:#009ED3">
			<u>http://store.acer.com/store/aceremea/global</u>
		</div>
	</div>
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="acer_fb" data-analytics="acer_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="acer_tw" data-analytics="acer_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="acer_sms" data-analytics="acer_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="acer_email" data-analytics="acer_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>
	
</div>
