<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">Lenovo</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>			
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:50px; width:30%">
			<img style="width:100%;" src="assets/product_images/Lenovo/Lenovo1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">
			<div style="padding-top:10px">
				<img style="width:60%" src="assets/product_images/Lenovo/Lenovo_logo.png"/>
			</div>	
			<div style="color:#505050; font-size:12px; padding-top:5px">
				<b>Corning&reg; Gorilla&reg; Glass for the Lenovo ThinkPad X1 Laptop</b><br /><br />
				Visually stunning, incredibly tough Corning&reg; Gorilla&reg; Glass enables today's sleekest 
				laptop and tablet designs, while providing exceptional damage resistance to the drops, 
				bumps, and scrapes of everyday use.
			</div>			
			<div class="hbox center_box" style="width:100%; height:40px; line-height:40px; color:#555; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd)); font-size:9px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); -webkit-border-radius: 5px; border: 1px solid #E0E0E0;  margin-top:10px">
				<div >FOLLOW LENOVO</div>				
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/lenovo', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://twitter.com/#!/lenovo', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/LenovoVision', '_blank')"></div>								
			</div>
		</div>
	</div>	
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">RELATED PRODUCTS</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.lenovo.com/products/us/tablet/thinkpad','_blank')">
			<img style="width:60px" src="assets/product_images/Lenovo/related_products1.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ThinkPad Tablet</div>
		</div>		
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.lenovo.com/products/us/laptop/thinkpad/x-series/x1','_blank')">
			<img style="width:60px" src="assets/product_images/Lenovo/related_products2.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ThinkPad X1</div>
		</div>				
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.lenovo.com/products/us/laptop/thinkpad/xtablet-series/x220-tablet','_blank')">
			<img style="width:60px" src="assets/product_images/Lenovo/related_products3.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ThinkPad X220t (Outdoor panel configuration)</div>
		</div>				
		<div style="clear:both"></div>									
	</div>			
	<div style="margin-top:15px; font-size:12px;">	
		<div style="color:#505050; font-weight:bold; margin-bottom:5px">RELATED NEWS</div>
		<div style="color:#505050;">May 17, 2011</div>
		<div onclick="window.open('http://news.lenovo.com/article_display.cfm?article_id=1438','_blank')" style="color:#009ED3; font-weight:bold;">
			The Crossover PC: New Lenovo ThinkPad X1 Blends Business and Entertainment Technologies
		</div>		
		<div style="color:#999999; margin-top:10px; font-size:10px">
			Lenovo, the Lenovo logo, and ThinkPad are trademarks of Lenovo in the United States, other countries, or both.
		</div>							
	</div>
		
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="lenovo_fb" data-analytics="lenovo_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="lenovo_tw" data-analytics="lenovo_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="lenovo_sms" data-analytics="lenovo_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="lenovo_email" data-analytics="lenovo_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>
	
</div>
	