<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">LG</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>		
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:65px; width:30%">
			<img style="width:100%;" src="assets/product_images/LG/Lg1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">	
			<div style="padding-top:10px">
				<img style="width:50%" src="assets/product_images/LG/Lg_logo.png"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:5px">
				Visually stunning, incredibly tough Corning&reg; Gorilla&reg; Glass enables today's sleekest 
				smartphone, tablet, and PC designs, while providing exceptional damage resistance to the drops, 
				bumps and scrapes of everyday use. Gorilla Glass is sensitive enough for today's most 
				sophisticated touch applications, and is available with an easy-to-clean coating.
			</div>									
		</div>		
	</div>
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">FEATURED</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.lg.com/global/products/mobile-phones/index.jsp','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/LG/LGOptimus3D.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">LG Optimus 3D</div>
		</div>		
		<div style="clear:both"></div>		
	</div>	
	
	<div style="color:#505050; font-weight:bold; margin-bottom:15px; margin-top:15px">RELATED PRODUCTS</div>
</div>

<div class="hbox" style="height:145px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
	<div id="lg_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-100, 0, 10,true);" style="-webkit-box-sizing:border-box; width:25px; height:55px; margin-Top:30px">
		<img style="width:20px" src="assets/left_arrow.png"/>
	</div>			
	<div id="lg_wrapper" class="product_wrapper">
		<div id="product_scroller">
			<ul id="thelist">				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.lg.com/global/products/mobile-phones/index.jsp','_blank')">						
						<img style="height:69px" src="assets/product_images/LG/related_products_1.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">LG Optimus 2X</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.lg.com/global/products/mobile-phones/index.jsp','_blank')">						
						<img style="height:65px" src="assets/product_images/LG/related_products_2.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">LG Optimus Black</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-P925-thrill','_blank')">						
						<img style="height:62px" src="assets/product_images/LG/related_products_3.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Thrill&trade; 4G (Only available in the USA)</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-P999-g2x','_blank')">						
						<img style="height:65px" src="assets/product_images/LG/related_products_4.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">T-Mobile&reg; G2x&trade; with Google (Only available in the USA)</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-LS855-marquee','_blank')">						
						<img style="height:63px" src="assets/product_images/LG/related_products_5.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">LG Marquee&trade; (Only available in the USA)</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-P930-nitro','_blank')">						
						<img style="height:60px" src="assets/product_images/LG/related_products_6.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">LG Nitro&trade; HD</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-VS920-spectrum','_blank')">						
						<img style="height:60px" src="assets/product_images/LG/related_products_7.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Spectrum by LG</div>
					</div>										
				</li>													
			</ul>
		</div>
	</div>			
	<div id="lg_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(100, 0, 10,true);" style="width:25px; height:55px; margin-Top:30px">
		<img style="width:20px" src="assets/right_arrow.png"/>
	</div>		
	<div style="clear:both"></div>
</div>
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="lg_fb" data-analytics="lg_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="lg_tw" data-analytics="lg_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="lg_sms" data-analytics="lg_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="lg_email" data-analytics="lg_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	

	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>


<script>
	gorilla.addScroll('lg_wrapper');
</script>
