<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">MOTOROLA</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>		
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:50px; width:30%">
			<img style="width:95%;" src="assets/product_images/Motorola/Motorola_left_image.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:5px;">	
			<div style="padding-top:10px">
				<img style="width:80%" src="assets/product_images/Motorola/Motorola_logo.png"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:5px">
				Visually stunning, incredibly tough Corning&reg; Gorilla&reg; Glass enables today's sleekest 
				smartphone and tablet designs, while providing exceptional damage resistance to the 
				bumps and scrapes of everyday use.
			</div>			
			<div class="hbox center_box" style="width:100%; height:40px; line-height:40px; color:#555; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd)); font-size:9px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); -webkit-border-radius: 5px; border: 1px solid #E0E0E0;  margin-top:10px">
				<div>FOLLOW MOTOROLA</div>				
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/motorola', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://twitter.com/Motorola', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/user/ShareMoto', '_blank')"></div>										
			</div>		
		</div>
	</div>
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">FEATURED</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://shop.verizonwireless.com/?id=droid%20razr%20m&cmp=Motorola_Razr_Microsite','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<center><img style="width:100%" src="assets/product_images/Motorola/DroidRazrByMotorola_new.png"/></center>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">DROID RAZR M BY MOTOROLA</div>
		</div>		
		<div style="clear:both"></div>		
	</div>	
	
	<div style="color:#505050; font-weight:bold; margin-bottom:15px; margin-top:15px">RELATED PRODUCTS</div>
</div>
<div class="hbox" style="height:145px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
	<div id="motorola_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-100, 0, 10,true);" style="-webkit-box-sizing:border-box; width:25px; height:55px; margin-Top:30px">
		<img style="width:20px" src="assets/left_arrow.png"/>
	</div>			
	<div id="motorola_wrapper" class="product_wrapper">
		<div id="product_scroller">
			<ul id="thelist">				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-ADMIRAL-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_1.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ADMIRAL</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-ATRIX-2-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_2.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ATRIX 2</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/ci.Motorola-ATRIX-US-EN.overview','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_3.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ATRIX 4G</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/MOTOROLA+BACKFLIP_MOTOBLUR_Default_US','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_4.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">BACKFLIP</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/BRAVO','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_5.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">BRAVO</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/MOTOROLA_CHARM','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_6.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">CHARM</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/MOTOROLA+CLIQ_Loc%25253AUS-EN','_blank')">						
						<img style="height:60px" style="height:75px" src="assets/product_images/Motorola/related_products_7.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">CLIQ</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/CLIQ_2','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_8.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">CLIQ 2</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/CLIQ-XT_Default_Support_Loc%25253AUS-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_9.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">CLIQ XT</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('https://motorola-global-portal.custhelp.com/app/product_page/faqs/p/30,6720,7695','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_10.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DEFY</div>
					</div>										
				</li>
								
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/XW-EN/Consumer-Products-and-Services/Mobile-Phones/MOTOROLA-DEFY-PLUS-XW-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_11.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DEFY+</div>
					</div>										
				</li>				
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/DEVOUR_Default_US','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_12.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DEVOUR</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/GB-EN/Consumer-Support/Mobile-Phones','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_13.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DEXT</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/Droid+-+USA_Default+US_Loc%25253AUS-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_14.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/Motorola+DROID+2','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_15.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID 2</div>
					</div>										
				</li>			
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/ci.DROID2-Global-US-EN.overview','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_16.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID 2 GLOBAL</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-3-by-MOTOROLA-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_17.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID 3</div>
					</div>										
				</li>					

				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-BIONIC-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_18.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID BIONIC by Motorola</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/ci.Motorola-DROID-PRO-US-EN.overview','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_19.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID PRO</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-RAZR-BY-MOTOROLA-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_20.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR by Motorola</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://shop.verizonwireless.com/?id=droid%20razr%20m&cmp=Motorola_Razr_Microsite','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_41.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR HD by Motorola</div>
					</div>										
				</li>					

				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-RAZR-BY-MOTOROLA-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_21.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR in WHITE</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://shop.verizonwireless.com/?id=droid%20razr%20m&cmp=Motorola_Razr_Microsite','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_40.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:2px">DROID RAZR M BY MOTOROLA</div>
					</div>										
				</li>					
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/us/consumers/DROID-MAXX/better-battery/96406,en_US,pd.html','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_38.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR MAXX by Motorola</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://shop.verizonwireless.com/?id=droid%20razr%20m&cmp=Motorola_Razr_Microsite','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_42.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR MAXX HD by Motorola</div>
					</div>										
				</li>
														
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/Motorola+DROID+X','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_22.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID X</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-X2-by-MOTOROLA-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_23.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID X2</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/MOTOROLA_FLIPOUT_with_MOTOBLUR','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_24.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">FLIPOUT</div>
					</div>										
				</li>
												
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/i1_Default_US','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_25.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">MOTOROLA i1</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/XW-EN/Consumer-Products-and-Services/Mobile-Phones/Motorola-MILESTONE-XW-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_26.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">MOTOROLA MILESTONE</div>
					</div>										
				</li>
									
				<li>
					<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Unveils-the-New-Motorola-RAZR-Impossibly-Thin-Meets-Head-turning-Innovation-3867.aspx','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_27.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">MOTOROLA RAZR</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Introducing-the-Powerful-Motorola-RAZR-i-with-Intel-Inside-and-an-Edge-to-Edge-Display-3bb4.aspx','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_43.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Motorola RAZR i</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/XW-EN/Consumer-Products-and-Services/Mobile-Phones/MOTOROLA-RAZR-MAXX-XW-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_39.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">MOTOROLA RAZR MAXX</div>
					</div>										
				</li>	

				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-PHOTON-4G-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_28.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">PHOTON 4G</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Delivers-the-Smartphone-that-Works-and-Plays-as-Hard-as-You-Do-Motorola-PRO-37c3.aspx','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_29.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">PRO+</div>
					</div>										
				</li>	

				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-TITANIUM-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_30.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">TITANIUM</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-TRIUMPH-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_31.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">TRIUMPH</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Tablets/MOTOROLA-XOOM-with-WiFi-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_32.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XOOM</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Launches-Two-New-Tablets-in-the-UK-and-Ireland-38b5.aspx','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_33.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XOOM 2</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Launches-Two-New-Tablets-in-the-UK-and-Ireland-38b5.aspx','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_34.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XOOM 2 Media Edition</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-XPRT-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_35.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XPRT</div>
					</div>										
				</li>	
								
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Tablets/DROID-XYBOARD-by-10-1-MOTOROLA-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_36.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XYBOARD 10.1</div>
					</div>										
				</li>				
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Tablets/DROID-XYBOARD-by-MOTOROLA-US-EN','_blank')">						
						<img style="height:60px" src="assets/product_images/Motorola/related_products_37.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XYBOARD 8.2</div>
					</div>										
				</li>							
			</ul>
		</div>
	</div>			
	<div id="motorola_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(100, 0, 10,true);" style="width:25px; height:55px; margin-Top:30px">
		<img style="width:20px" src="assets/right_arrow.png"/>
	</div>		
	<div style="clear:both"></div>	
</div>	
<div style="font-size:12px; -webkit-box-sizing:border-box; padding-left:10px; padding-right:10px ">	
	<div style="color:#505050; font-weight:bold; margin-bottom:5px">RELATED NEWS</div>
	<div style="color:#505050;">September 18, 2012</div>
	<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Introducing-the-Powerful-Motorola-RAZR-i-with-Intel-Inside-and-an-Edge-to-Edge-Display-3bb4.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
		Introducing the Powerful Motorola RAZR&trade; i with Intel Inside&reg; and an Edge-to-Edge Display
	</div>	
	<div style="color:#505050; padding-top:7px;">September 5, 2012</div>
	<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/First-Android-Powered-Smartphone-with-Sprint-Direct-Connect-Motorola-ADMIRAL-Available-Oct-23-for-Under-100-3888.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
		Verizon Wireless and Motorola Add Three New and Exclusive 4G LTE DROID RAZR&trade; Smartphones
	</div>	
	<div style="color:#505050; padding-top:7px;">October 20, 2011</div>
	<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/First-Android-Powered-Smartphone-with-Sprint-Direct-Connect-Motorola-ADMIRAL-Available-Oct-23-for-Under-100-3888.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
		First Android-Powered Smartphone with Sprint Direct Connect, Motorola ADMIRAL, Available Oct. 23 for Under $100
	</div>			
	<div style="color:#505050; padding-top:7px;">October 18, 2011</div>
	<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Unveils-the-New-Motorola-RAZR-Impossibly-Thin-Meets-Head-turning-Innovation-3867.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
		Motorola Mobility Unveils the New Motorola RAZR&trade;: Impossibly Thin Meets Head-turning Innovation
	</div>	
	<div style="color:#505050; padding-top:7px;">October 18, 2011</div>
	<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Verizon-Wireless-and-Motorola-Announce-DROID-RAZR-by-Motorola-DROID-Strong-RAZR-Sharp-386d.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
		Verizon Wireless and Motorola Announce DROID RAZR&trade; by Motorola: DROID Strong. RAZR Sharp.
	</div>
	<div style="color:#505050; padding-top:7px;">August 30, 2011</div>
	<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Delivers-the-Smartphone-that-Works-and-Plays-as-Hard-as-You-Do-Motorola-PRO-37c3.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
		Motorola Mobility Delivers the Smartphone that Works and Plays as Hard as You Do: Motorola PRO+
	</div>	
	<div style="color:#505050; padding-top:7px;">August 15, 2011</div>
	<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Reveals-Motorola-DEFY-378f.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
		Motorola Mobility Reveals Motorola DEFY&trade;+
	</div>
	<div style="color:#999999; margin-top:10px; font-size:10px">
		DROID is a trademark of Lucasfilm Ltd. and its related companies. Used under license.
	</div>	
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="moto_fb" data-analytics="moto_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="moto_tw" data-analytics="moto_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="moto_sms" data-analytics="moto_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="moto_email" data-analytics="moto_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>
	
</div>

<script>
	gorilla.addScroll('motorola_wrapper');
</script>
