<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">		
	<div class="blueHeader">FULL PRODUCTS LIST</div>
	<div class="spacer10"></div>
	<div style="-webkit-box-sizing:border-box; padding:10px; width:100%; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#BBBBBB)); color:#505050; font-size:11px;">
		Corning&reg; Gorilla&reg; Glass is used by more than 33 major brands, has been designed into more than 900 product models, 
		and is featured on more than 1 billion devices worldwide. Due to customer agreements, we cannot identify all devices 
		that feature Gorilla Glass. Your favorite device may include Gorilla Glass, even if you don't see it listed. Ask your manufacturer or retailer to learn more.
	</div>		
	<div style="color:#505050; font-size:11px; margin-Top:10px">
		<span id="Acer_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Acer</span>:
		<span style="">Aspire Ethos 8951G, Aspire Ethos 5951G, ICONIA TAB A100, ICONIA TAB A500, ICONIA TAB W500, ICONIA SMART, ICONIA Touchbook</span>
		<br/><br/>
		<span id="Asus_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Asus</span>:
		<span style="">Eee Pad Slider, Eee Pad Transformer, Eee Pad Transformer Prime, Eee Slate EP121, PadFone, Transformer Pad Infinity</span>
		<br/><br/>
		<span id="Dell_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Dell</span>:
		<span style="">Precision M6700 Covet Edition, XPS 13 Ultrabook, XPS 15 laptop</span>
		<br/><br/>
		<span id="HP_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">HP</span>:
		<span style="">ENVY 14 Spectre</span>
		<br/><br/>
		<span id="Htc_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">HTC</span>:
		<span style="">Butterfly, One X, One X+, One S, One SV, Amaze 4G (US T-Mobile), Droid DNA (US Verizon), Droid Incredible 4G LTE (US Verizon), Droid ERIS (US Verizon), Droid Incredible 2 (US Verizon), Droid Incredible (US Verizon), EVO Design 4G (US Sprint), EVO 4G LTE (US Sprint), EVO 3D, myTouch 4G (US T-Mobile), myTouch 4G Slide (US T-Mobile), Vivid (US AT&T), Desire, Desire HD, Desire Z, Inspire 4G (US AT&T), Sensation, Sensation XL, TITAN, Radar/Radar 4G, Windows Phone 8X by HTC</span>
		<br/><br/>
		<span id="Lenovo_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Lenovo</span>:
		<span style="">ThinkPad Tablet, ThinkPad X1 Laptop, ThinkPad X220 Tablet (available as an option)</span>		
		<br/><br/>
		<span id="Lg_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">LG</span>:
		<span style="">Ally, Arena, Arena TV, Crystal, LG Mini, Maxx, New Chocolate, Nitro&trade; HD, Optimus 2X (T-Mobile&reg; G2x&trade; with Google&trade;), Optimus 3D (Thrill&trade; 4G), Optimus 7, Optimus Black (LG Marquee&trade;), Optimus Mach, Optimus Q, Optimus Z, Spectrum, Viewty Smart, X300</span>
		<br/><br/>
		<span id="Lumigon_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Lumigon</span>:
		<span style="">T2</span>
		<br/><br/>
		<span id="Motion_Computing_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Motion Computing</span>:
		<span style="">F5v, C5v, J3500, CL900</span>
		<br/><br/>
		<span id="Motorola_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Motorola</span>:
		<span style="">ACTV, ADMIRAL, ATRIX 2, ATRIX 4G, BACKFLIP, BRAVO, CHARM, CLIQ, CLIQ 2, CLIQ XT, DEFY, DEFY+, DEVOUR, DEXT, DROID, DROID 2, DROID 2 GLOBAL, DROID 3, DROID BIONIC, DROID PRO, DROID RAZR, DROID RAZR in WHITE, DROID RAZR HD, DROID RAZR M, DROID RAZR MAXX, DROID RAZR MAXX HD, DROID X, DROID X2, FLIPOUT, MOTOROLA i1, MOTOROLA MILESTONE, MOTOROLA RAZR i, PHOTON 4G, PRO+, RAZR by Motorola, RAZR MAXX by Motorola, TITANIUM, TRIUMPH, XOOM, XOOM 2, XOOM 2 Media Edition, XPRT, XYBOARD 8.2, XYBOARD 10.1</span>
		<br/><br/>
		<span id="Nec_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">NEC</span>:
		<span style="">docomo PRIME series N-02B, MEDIAS N-04C</span>
		<br/><br/>
		<span id="Nokia_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Nokia</span>:
		<span style="">700, 701, 702T, 801T, 808, Astound (T-Mobile US), C6, C7, E6, E7, Lumia 710, Lumia 800, Lumia 822,Lumia 900, Lumia 920, N8, N9, Oro, T7-00, X6, X7</span>
		<br/><br/>
		<span id="Samsung_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Samsung</span>:
		<span style="">Behold II, Captivate, Continuum, Corby S3650, Corby W900, Epic 4G, Fascinate, Flight II, Focus, Focus&trade; Flash (US AT&T), Galaxy A, Galaxy Ace, GALAXY Note, Galaxy S, GALAXY S II, GALAXY SIII, Galaxy S 4G, Galaxy Tab, Galaxy Tab 10.1, Lindy, Mesmerize, Monte, Monte Preston, Omnia HD, Omnia W, S8500 WAVE, Showcase, SUR40, Trance, Transform, Ultra TOUCH S8300, Vibrant, Wave II</span>
		<br/><br/>
		<span id="SK_Telesys_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">SK Telesys</span>:
		<span style="">Rain Phone (SK-800), Reaction Phone (SK-S100), W Phone (SK-700)</span>
		<br/><br/>
		<span id="Sonim_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Sonim</span>:
		<span style="">Sonim XP2.10 SPIRIT, Sonim XP3.20 Quest, Sonim XP3 SENTINEL, Sonim XP1300 CORE, Sonim XP1301 CORE NFC, Sonim XP1330 CORE PTT, Sonim XP3300 FORCE, Sonim XP3300 FORCE Z1, Sonim XP3340 SENTINEL</span>
		<br/><br/>
		<span id="Sony_btn" onclick="gorilla.openExternalPage(this)" style="color:#009ED3; font-weight:bold;">Sony</span>:
		<span style="">BRAVIA models - HX900, HX920, HX820, HX850, NX710, NX720</span>
	</div>
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="productsfull_fb" data-analytics="productsfull_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="productsfull_tw" data-analytics="productsfull_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="productsfull_sms" data-analytics="productsfull_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="productsfull_email" data-analytics="productsfull_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>
	
</div>
