<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">SAMSUNG</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>		
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:35px; width:30%">
			<img style="width:100%;" src="assets/product_images/Samsung/Samsung1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">	
			<div style="padding-top:10px">
				<img style="width:60%" src="assets/product_images/Samsung/Samsung_logo.png"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:5px">
				Visually stunning, incredibly tough Corning&reg; Gorilla&reg; Glass enables today's 
				sleekest smartphone and tablet designs, while providing exceptional damage resistance 
				to the drops, bumps, and scrapes of everyday use. Gorilla Glass is sensitive enough	
				for today's most sophisticated touch applications, and is available with an easy-to-clean coating.
			</div>			
			<div class="hbox center_box" style="width:100%; height:40px; line-height:40px; color:#555; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd)); font-size:9px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); -webkit-border-radius: 5px; border: 1px solid #E0E0E0;  margin-top:10px">
				<div>FOLLOW SAMSUNG</div>				
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/SamsungMobile', '_blank')"></div>					
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/samsungmobile', '_blank')"></div>										
			</div>						
		</div>
	</div>
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">FEATURED</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.samsung.com/global/galaxys3/','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Samsung/featured_product1.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">SAMSUNG GALAXY SIII</div>
		</div>			
		<div style="clear:both"></div>		
	</div>	

	
	<div style="color:#505050; font-weight:bold; margin-bottom:15px; margin-top:15px">RELATED PRODUCTS</div>
</div>
	
<div class="hbox" style="height:145px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
	<div id="samsung_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-100, 0, 10,true);" style="-webkit-box-sizing:border-box; width:25px; height:55px; margin-Top:30px">
		<img style="width:20px" src="assets/left_arrow.png"/>
	</div>			
	<div id="samsung_wrapper" class="product_wrapper">
		<div id="product_scroller">
			<ul id="thelist">				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.samsung.com/uk/consumer/mobile-devices/smartphones/android/GT-I9000HKDXEU','_blank')">						
						<img style="height:60px" src="assets/product_images/Samsung/related_products_1.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung Galaxy S</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/microsite/galaxytab/10.1/index.html','_blank')">						
						<img style="height:60px" src="assets/product_images/Samsung/related_products_2.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY Tab</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/microsite/galaxytab/10.1/index.html','_blank')">						
						<img style="height:60px" src="assets/product_images/Samsung/related_products_3.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY Tab 10.1</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.samsung.com/us/mobile/cell-phones/SGH-I677DAAATT','_blank')">						
						<img style="height:60px" src="assets/product_images/Samsung/related_products_4.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung Omnia W</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.samsung.com/us/mobile/cell-phones/SGH-I677DAAATT','_blank')">						
						<img style="height:60px" src="assets/product_images/Samsung/related_products_5.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung Focus&trade; Flash (US AT&amp;T)</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/microsite/galaxynote/note/index.html?type=find','_blank')">						
						<img style="height:60px" src="assets/product_images/Samsung/related_products_6.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY Note</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/microsite/galaxys2/html/','_blank')">						
						<img style="height:60px" src="assets/product_images/Samsung/related_products_7.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY SII</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/galaxys3/','_blank')">						
						<img style="height:60px" src="assets/product_images/Samsung/related_products_8.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY SIII</div>
					</div>										
				</li>				
									
			</ul>
		</div>
	</div>			
	<div id="samsung_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(100, 0, 10,true);" style="width:25px; height:55px; margin-Top:30px">
		<img style="width:20px" src="assets/right_arrow.png"/>
	</div>		
	<div style="clear:both"></div>	
</div>	

<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px ">		
	<div style="font-size:12px;">	
		<div style="color:#505050; font-weight:bold; margin-bottom:5px">RELATED NEWS</div>
		<div style="color:#505050;">July 20, 2011</div>
		<div onclick="window.open('http://www.corninggorillaglass.com/news/press-releases/samsung%E2%80%99s-new-galaxy-tab-101-features-corning%C2%AE-gorilla%C2%AE-glass','_blank')" style="color:#009ED3; font-weight:bold;">
			Samsung's New Galaxy Tab 10.1 Features Corning Gorilla Glass
		</div>	
		<div style="color:#505050; padding-top:7px;">May 2, 2011</div>
		<div onclick="window.open('http://www.corninggorillaglass.com/news/press-releases/samsung%E2%80%99s-premium-smartphone-galaxy-s-ii-features-corning%C2%AE-gorilla%C2%AE-glass','_blank')" style="color:#009ED3; font-weight:bold;">
			Samsung's Premiere Smartphone Galaxy Sll Features Corning Gorilla Glass
		</div>
		<div style="color:#505050; padding-top:7px;">October 4, 2010</div>
		<div onclick="window.open('http://www.corninggorillaglass.com/news/press-releases/corning-supplies-gorilla%C2%AE-glass-samsung%E2%80%99s-new-galaxy-tab-smart-media-device','_blank')" style="color:#009ED3; font-weight:bold;">
			Corning Supplies Gorilla Glass for Samsung's New Galaxy Tab Smart Media Device
		</div>
		<div style="color:#505050; padding-top:7px;">August 23, 2010</div>
		<div onclick="window.open('http://www.corninggorillaglass.com/news/press-releases/corning-supplies-gorilla%C2%AE-glass-samsung-galaxy-s-premium-smartphone','_blank')" style="color:#009ED3; font-weight:bold;">
			Corning Supplies Gorilla Glass for Samsung Galaxy S Premiere Smartphone
		</div>			
		<div style="color:#999999; margin-top:10px; font-size:10px">
			&copy;2011 Samsung Telecommunications America, LLC ("Samsung"). Samsung and Galaxy S are registered trademarks of Samsung Electronics America, 
			Inc. and/or its related entities. Other company and product names mentioned herein may be trademarks of their respective owners. Screen images simulated.
		</div>
	</div>
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="sam_fb" data-analytics="sam_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="sam_tw" data-analytics="sam_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="sam_sms" data-analytics="sam_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="sam_email" data-analytics="sam_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>	
</div>

<script>
	gorilla.addScroll('samsung_wrapper');
</script>
