<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">Sony</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>		
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:50px; width:30%">
			<img style="width:100%;" src="assets/product_images/Sony/Sony1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">	
			<div style="padding-top:10px">
				<img style="width:50%" src="assets/product_images/Sony/Sony_logo.png"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:5px">
				Corning&reg; Gorilla&reg; Glass is changing the face of television. It allows set manufacturers 
				to create slim LCD TVs with seamless, edge-to-edge fronts that make an elegant addition to any home decor. 
				<br /><br />
				Sony Corporation is leading the way by featuring Corning Gorilla Glass on select models of SONY's BRAVIA&reg; line of 40-inch and larger televisions.
				<br /><br />
				The 0.7 mm cover glass helps further evolve SONY BRAVIA&reg;'s Monolithic Design, providing viewers with a more sophisticated TV experience.
				<br /><br />
				Exceptionally thin and lightweight, Corning Gorilla Glass enables sleek and distinctive television designs. And Corning Gorilla Glass provides 
				outstanding optical clarity that helps deliver on the promise of high definition and 3D technologies.
				<br /><br />
				With Corning Gorilla Glass, the SONY BRAVIA&reg; HDTV transforms televisions from a routine household staple to an inspired piece of art.
			</div>									
		</div>		
	</div>
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">FEATURED</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://store.sony.com/webapp/wcs/stores/servlet/ProductDisplay?catalogId=10551&storeId=10151&langId=-1&productId=8198552921666307307','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Sony/featured_product1.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">Sony LED NX720 smart TV</div>
		</div>	
		
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://store.sony.com/webapp/wcs/stores/servlet/ProductDisplay?catalogId=10551&storeId=10151&langId=-1&productId=8198552921666312878','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Sony/featured_product2.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">Sony LED HX820 smart TV</div>
		</div>	
		
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://store.sony.com/webapp/wcs/stores/servlet/ProductDisplay?catalogId=10551&storeId=10151&langId=-1&productId=8198552921666312888','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Sony/featured_product3.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">Sony LED HX929 smart TV</div>
		</div>		
		<div style="clear:both"></div>		
	</div>
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="sony_fb" data-analytics="sony_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="sony_tw" data-analytics="sony_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="sony_sms" data-analytics="sony_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="sony_email" data-analytics="sony_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>
	
</div>
